{{yield}}

{{#link-to 'article' article.id}}<img src="{{article.image}}">{{/link-to}}<br>{{article.title}} by {{article.author}}
  <button {{action 'delete' article}}>Delete</button>



  {{update-article update="update"}}
